# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - pochinki

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: pocihinkicrate.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0394C3D3976C4D45ABAED3C5AC28611C }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_1EA6075A00884A2D90EFBD8AB31E2CB3 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: pocihinkicrate.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0394C3D3976C4D45ABAED3C5AC28611C }}/satheehs:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_188F1C6740B14A70BFDD73FE581F8B16 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EC76BF8BEB4E47A78603343924826C0E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3FA2045FC9E44310BD062A1E70A4178E }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'pochinki'
          slot-name: 'Production'
          images: 'pocihinkicrate.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0394C3D3976C4D45ABAED3C5AC28611C }}/satheehs:${{ github.sha }}'
          